.wrappedContainer {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 1080px;
    padding: 2em;
}

.artistContainer {
    position: sticky;
    top: 440px;
    left: 15px;
    color: white;
    line-height: 0.75;
}

.artist {
    padding: 0 0;
}

.minutes-listened {
    color: white;
}

.genre {
    color: white;
}